:root {
    --cor-primaria: #fefbd8;
    --cor-secundaria: #618685;
    --cor-terciaria: #36486b;
    --cor-quaternaria: #4040a1;
    --cor: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  background-color: #f0f0f0;
  font-size: 28px;
  height: 100vh;
}

.login_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.grupo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 0; */
    margin-bottom: 15px;
}

.grupo_login label {
    /* border-radius: 5%; */
    /* padding: 10px; */
    /* font-size: 20px; */
    display: block;
    margin-bottom: 5px;
}

.grupo_login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#mensagem_erro {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.mensagem_erro.success {
    background-color: #d4edda;
    color: #155724;
}

.mensagem_erro.error {
    background-color: #f8d7da;
    color: #721c24;
}